* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  background-color: rgb(255, 255, 255);
}
.title {
  background-color: rgb(0, 0, 0);
  margin-bottom: 1em;
}
.title h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.2em;
}
.instruct_msg {
  text-align: center;
  margin: 2em;
  padding: 1em;
}
#seconds {
  color: rgb(31, 255, 10);
}
.btn {
  padding: 0.81em;
  margin: 2em;
  color: white;
  background-color: black;
  font-family: Poppins;
  border-radius: 5px;
}

#current-word {
  text-align: center;
  margin: 1em;
  font-size: 54px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input {
  text-align: center;
  margin-left: 5em;
}
#word-input {
  width: 15%;
  height: 40px;
  border: 1px solid black;
}
.score {
  /* display: flex; */
  text-align: center;
}
#time,
#score {
}
.currentscore,
.timeleft {
  text-align: center;
  margin: 1em;
  font-size: 20px;
}

.instruction {
  text-align: center;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 1em;
  margin: 1em 0 3em 0;
}
.instruct-head {
  margin: 1em 0 2em 0;
  font-size: 24px;
}
.instruct {
  margin: 1em;
}
#message {
  text-align: center;
}
